In [1]:
import sys
print(sys.executable)

/Users/mallan/dev/data-engineering-zoomcamp/venv/bin/python

In [26]:
import sql
sql.magic.SqlMagic.style = 'DEFAULT'
print(sql.magic.SqlMagic.style)

DEFAULT

In [27]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [28]:
%sql postgresql://root:root@localhost:5432/nyc_taxi

In [18]:
from sqlalchemy import create_engine, text

engine = create_engine("postgresql://root:root@localhost:5432/nyc_taxi")

try:
    with engine.connect() as conn:
        result = conn.execute(text("SELECT current_database(), current_user, version();"))
        for row in result:
            print(row)
    print("✅ Connected successfully!")
except Exception as e:
    print("❌ Connection failed:", e)

('nyc_taxi', 'root', 'PostgreSQL 13.21 (Debian 13.21-1.pgdg120+1) on aarch64-unknown-linux-gnu, compiled by gcc (Debian 12.2.0-14) 12.2.0, 64-bit')
✅ Connected successfully!

In [19]:
from sqlalchemy import text

with engine.connect() as conn:
    result = conn.execute(text("SELECT * FROM yellow_taxi_trips LIMIT 5"))
    for row in result:
        print(row)

(0, 1, datetime.datetime(2021, 1, 1, 0, 30, 10), datetime.datetime(2021, 1, 1, 0, 36, 12), 1, 2.1, 1, 'N', 142, 43, 2, 8.0, 3.0, 0.5, 0.0, 0.0, 0.3, 11.8, 2.5)
(1, 1, datetime.datetime(2021, 1, 1, 0, 51, 20), datetime.datetime(2021, 1, 1, 0, 52, 19), 1, 0.2, 1, 'N', 238, 151, 2, 3.0, 0.5, 0.5, 0.0, 0.0, 0.3, 4.3, 0.0)
(2, 1, datetime.datetime(2021, 1, 1, 0, 43, 30), datetime.datetime(2021, 1, 1, 1, 11, 6), 1, 14.7, 1, 'N', 132, 165, 1, 42.0, 0.5, 0.5, 8.65, 0.0, 0.3, 51.95, 0.0)
(3, 1, datetime.datetime(2021, 1, 1, 0, 15, 48), datetime.datetime(2021, 1, 1, 0, 31, 1), 0, 10.6, 1, 'N', 138, 132, 1, 29.0, 0.5, 0.5, 6.05, 0.0, 0.3, 36.35, 0.0)
(4, 2, datetime.datetime(2021, 1, 1, 0, 31, 49), datetime.datetime(2021, 1, 1, 0, 48, 21), 1, 4.94, 1, 'N', 68, 33, 1, 16.5, 0.5, 0.5, 4.06, 0.0, 0.3, 24.36, 2.5)